<h1>Listing event2s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Event date</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event2s.each do |event2| %>
      <tr>
        <td><%= event2.name %></td>
        <td><%= event2.description %></td>
        <td><%= event2.event_date %></td>
        <td><%= event2.group %></td>
        <td><%= link_to 'Show', event2 %></td>
        <td><%= link_to 'Edit', edit_event2_path(event2) %></td>
        <td><%= link_to 'Destroy', event2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event2', new_event2_path %>
