<h1>Listing groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Organization date</th>
      <th colspan="3"></th>
 
      <th>Name</th>
      <th>Description</th>
      <th>Event date</th>
      <th colspan="3"></th>
      
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.description %></td>
        <td><%= group.organization_date %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 

        <% group.event2s.each_with_index do |event2, i| %>


        <% if 0<i %>
            </tr><tr><td colspan=6></td>
          <%end %>

 
        <td><%= event2.name %></td>
        <td><%= event2.description %></td>
        <td><%= event2.event_date %></td>
        <td><%= event2.group %></td>
        <td><%= link_to 'Show', event2 %></td>
        <td><%= link_to 'Edit', edit_event2_path(event2) %></td>
        <td><%= link_to 'Destroy', event2, method: :delete, data: { confirm: 'Are you sure?' } %></td>    


        <% end %>

    
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
